<!DOCTYPE html>
<html lang="en">
<head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name= "viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" integrity="undefined" crossorigin="anonymous">
        <title>Checkout</title>
        {% load static %}
        <link rel="stylesheet" href="{% static 'css/checkout.css' %}"> 
        <script src="https://kit.fontawesome.com/3f7ad01263.js" crossorigin="anonymous"></script>
        <script type="text/javascript">
            var user = '{{request.user}}'

            function getToken(name) {
                var cookieValue = null;
                if (document.cookie && document.cookie !== '') {
                    var cookies = document.cookie.split(';');
                    for (var i = 0; i < cookies.length; i++) {
                        var cookie = cookies[i].trim();
                        if (cookie.substring(0, name.length +1) === (name + '=')) {
                            cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                            break;
                        }
                    }
                }
                return cookieValue;
            }
            var csrftoken = getToken('csrftoken')
            
            function getCookie(name) {
                var cookieArr = document.cookie.split(";");
                for(var i = 0; i < cookieArr.length; i++) {
                    var cookiePair = cookieArr[i].split("=");
                    if(name == cookiePair[0].trim()) {
                        return decodeURIComponent(cookiePair[1]);
                    }
                }
                return null;
            }
            var cart = JSON.parse(getCookie('cart'))
            if(cart == undefined) {
                cart = {}
                console.log('Cart was created')
                document.cookie = 'cart=' + JSON.stringify(cart) + ";domain=;path=/"
            }
            console.log('Cart:', cart)
        </script>
</head>
<body>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/animejs/2.0.2/anime.min.js"></script>

    <div id="wrapper">

        <div id="nav">
            <nav class="navbar navbar-expand-lg navbar-light bg-light">
                <div class="container px-4 px-lg-5">
                    <a class="navbar-brand" href="/">Jade Hour</a>
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
                    <div class="collapse navbar-collapse" id="navbarSupportedContent">
                        <ul class="navbar-nav me-auto mb-2 mb-lg-0 ms-lg-4">
                            <li class="nav-item"><a class="nav-link active" aria-current="page" href="/">Home</a></li>
                            <li class="nav-item"><a class="nav-link" href="/about">About</a></li>
                            <li class="nav-item"><a class="nav-link" href="/contact">Contact</a></li>
                            <li class="nav-item"><a class="nav-link" href="/shop">Shop</a></li>
                        </ul>
                        <div class="form-inline my-2 my-lg-0">        
                            <a class="cart-button" href="/cart">
                                <img id="cart-icon" src="{% static 'img/cart.png' %}"> <p id="cart-total">{{cartItems}}</p>
                            </a>   
                        </div>
                    </div>
                </div>
            </nav>
        </div>  

        <div id="header">
                <header class="bg-dark py-5">
                    <div class="container px-4 px-lg-5 my-5">
                        <div class="text-center text-white">
                            <h1 class="display-4 fw-bolder"><h1 class="ml3">Thank you!</h1></h1>
                            <p class="lead fw-normal text-white-50 mb-0">Your support goes a long way!</p>
                        </div>
                    </div>
                </header>
        </div>

        <div id="container">
            <div class="row">
                <div class="col-lg-6">
                    <div class="box-element" id="form-wrapper">
                        <form id="form">
                            <div id="user-info">
                                <hr>
                                <p>Personal Information:</p>
                                <hr>
                                <div class="form-field">
                                    <input required class="form-control" type="text" name="name">Name</input>
                                </div>
                                <div class="form-field">
                                    <input required class="form-control" type="email" name="email">Email</input>
                                </div>
                            </div>
                            <div id="shipping-info">
                                <hr>
                                <p>Shipping Information:</p>
                                <hr>
                                <div class="form-field">
                                    <input required class="form-control" type="text" name="address">Address</input>
                                </div>
                                <div class="form-field">
                                    <input required class="form-control" type="text" name="city">City</input>
                                </div>
                                <div class="form-field">
                                    <input required class="form-control" type="text" name="state">State</input>
                                </div>
                                <div class="form-field">
                                    <input required class="form-control" type="number" name="zipcode">Zipcode</input>
                                </div>
                                <div class="form-field">
                                    <input required class="form-control" type="text" name="email">Country</input>
                                </div>
                            </div>
                            <hr>
                            <input id="form-button" class="btn btn-success btn-block" type="submit" value="Continue">
                        </form>
                    </div>
                    <br>

                    <div class="box-element" hidden id="payment-info">
                        <p>Paypal Options</p>
                        <button id="paypal-button-container"></button>
                    </div>
                </div>

                <div class="col-lg-6">
                    <div class="box-element">
                        <a class="btn btn-outline-dark" href="/cart">&#x2190; Back to Cart</a>
                        <hr>
                        <h3>Order Summary</h3>
                        <hr>
                        {% for item in items %}
                        <div class="cart-row">
                            <div style="flex:2"><img class="row-image" src="{{item.product.image.url}}"></div>
                            <div style="flex:2"><p>{{item.product.name}}</p></div>
                            <div style="flex:1"><p>${{item.product.price}}</p></div>
                            <div style="flex:1"><p>{{item.quantity}}</p></div>
                        </div>
                        {% endfor %}
                        <h5>Items: {{order.get_cart_items}}</h5>
                        <h5>Total: {{order.get_cart_total}}</h5>
                    </div>
                </div>
            </div>


        </div>

        <div>
        <footer class="py-5 bg-dark">
                <div class="container">
                    <h5 class="m-0 text-left text-white">Contact Us!</h5>
                    <p class="m-0 text-left text-white">JadeHourBoutique@gmail.com</p>
                    <a href="https://www.facebook.com/topxero.yuttapibool/"><i class="fab fa-facebook-square"></i></a>
                    <a href="https://www.instagram.com/accounts/login/#"><i class="fab fa-instagram"></i></a>
                </div>
            </footer>
        </div>

    </div>
        
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js"></script>
        
        <script src="js/scripts.js"></script>
        <script type="text/javascript" src="{% static 'js/cart.js' %}"></script>
</body>
</html>