<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <title>{{product.name}}</title>
        
        <link rel="icon" type="image/x-icon" href="assets/favicon.ico" />
        
        <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css" rel="stylesheet" />
        
        {% load static %}
        <link rel="stylesheet" href="{% static 'css/product.css' %}"> 
        <script src="https://kit.fontawesome.com/3f7ad01263.js" crossorigin="anonymous"></script>

        <script type="text/javascript">
            var user = '{{request.user}}'

            function getToken(name) {
                var cookieValue = null;
                if (document.cookie && document.cookie !== '') {
                    var cookies = document.cookie.split(';');
                    for (var i = 0; i < cookies.length; i++) {
                        var cookie = cookies[i].trim();
                        if (cookie.substring(0, name.length +1) === (name + '=')) {
                            cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                            break;
                        }
                    }
                }
                return cookieValue;
            }
            var csrftoken = getToken('csrftoken')
            
            function getCookie(name) {
                var cookieArr = document.cookie.split(";");
                for(var i = 0; i < cookieArr.length; i++) {
                    var cookiePair = cookieArr[i].split("=");
                    if(name == cookiePair[0].trim()) {
                        return decodeURIComponent(cookiePair[1]);
                    }
                }
                return null;
            }
            var cart = JSON.parse(getCookie('cart'))
            if(cart == undefined) {
                cart = {}
                console.log('Cart was created')
                document.cookie = 'cart=' + JSON.stringify(cart) + ";domain=;path=/"
            }
            console.log('Cart:', cart)
        </script>

    </head>
    <body>
        
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <div class="container px-4 px-lg-5">
                <a class="navbar-brand" href="/">Jade Hour</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0 ms-lg-4">
                        <li class="nav-item"><a class="nav-link active" aria-current="page" href="/">Home</a></li>
                        <li class="nav-item"><a class="nav-link" href="/about">About</a></li>
                        <li class="nav-item"><a class="nav-link" href="/contact">Contact</a></li>
                        <li class="nav-item"><a class="nav-link" href="/shop">Shop</a></li>
                    </ul>
                    <div class="form-inline my-2 my-lg-0">        
                        <a class="cart-button" href="/cart">
                            <img id="cart-icon" src="{% static 'img/cart.png' %}"> <p id="cart-total">{{cartItems}}</p>
                        </a>   
                    </div>
                </div>
            </div>
        </nav>

        <div id="container">
            <section class="py-5">
                <div class="container px-4 px-lg-5 my-5">
                    <a class="btn btn-outline-dark" href="/shop">&#x2190; Continue Shopping</a>
                    <div class="row gx-4 gx-lg-5 align-items-center">
                        <div class="col-md-6"><img class="card-img-top mb-5 mb-md-0" src="{{product.image.url}}"></img></div>
                        <div class="col-md-6">
                            <h1 class="display-5 fw-bolder">{{product.name}}</h1>
                            <div class="fs-5 mb-5">
                                <span>${{product.price}}</span>
                            </div>
                            <p class="lead">Lorem ipsum dolor sit amet consectetur adipisicing elit. Praesentium at dolorem quidem modi. Nam sequi consequatur obcaecati excepturi alias magni, accusamus eius blanditiis delectus ipsam minima ea iste laborum vero?</p>
                            <div class="d-flex">
                                <button data-product={{product.id}} data-action="add" class="btn btn-outline-secondary add-btn update-cart">Add to Cart</button>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </div>
        
        <footer class="py-5 bg-dark">
            <div class="container">
                <h5 class="m-0 text-left text-white">Contact Us!</h5>
                <p class="m-0 text-left text-white">JadeHourBoutique@gmail.com</p>
                <a href="https://www.facebook.com/topxero.yuttapibool/"><i class="fab fa-facebook-square"></i></a>
                <a href="https://www.instagram.com/accounts/login/#"><i class="fab fa-instagram"></i></a>
            </div>
        </footer>
        <footer class="py-5 bg-dark">
            <div class="container"><p class="m-0 text-center text-white">Copyright &copy; Your Website 2021</p></div>
        </footer>
        
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js"></script>

        <script type="text/javascript" src="{% static 'js/cart.js' %}"></script>
    </body>
</html>
